* {
    box-sizing: border-box;

}
body{
    font-family: 'Work Sans', sans-serif;

}
.nav-container {
    background: gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.nav-container li:nth-of-type(4) {
    margin-right: auto;
}

a {
    display: inline-block;

    text-decoration: none;
    padding: 1.85em .5em;
    color: black;
}


a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;

}
#logo:hover{
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}


#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
    color: black;


}

.center-logo {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

